table {
    width: 100%;
    border-width: 3px;
    border-spacing: 0;
    border-color: rgb(243, 245, 111);
    border-top-color: white;
    border-left-color: white;
    border-style: outset;
    border-collapse: collapse;
}

tr:nth-child(2) {
    background-color: rgb(241, 178, 136);
}

tr:nth-child(3) {
    background-color: rgb(255, 249, 170);

}

tr:nth-child(4),
tr:nth-child(5),
tr:last-child {
    background: url(../img/modelo-incons-til-con-las-patas-del-perro-garabato-estampado-de-animales-color-negro-y-rojo-fondo-vector-150638707.jpg);
    color: brown;

}

tr:first-child {
    background-color: rgb(84, 182, 81);
}

tr {
    color: rgb(105, 25, 25);
    text-align: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 233);

}

td {

    border: 3px ridge;
}