.container{
    border: 1px solid blue;
}
body{
    background-color: bisque;
}
table {
    border-width: 5px;
    border-color: rgb(207, 195, 195);
    border-top-color: white;
    border-left-color: white;
    border-style: outset;
    border-spacing: 0;
    width: 100%;
}

tr :nth-child(2) {
    text-align: center;
}

th {
    background-color: rgb(2, 4, 95);
    color: rgb(76, 220, 76);
    text-align: center;
    padding: 0 0.5em;
}

tr:nth-child(1n) {
    background-color: rgb(167, 240, 167);
}

tr:last-child {
    background-color: rgb(109, 172, 109);
}
td{
    padding: 0.2em;
    border-width: 2px ridge;
    border-top-color: rgb(45, 58, 206);
    border-left-color: rgb(45, 58, 206);
    border-bottom-color: white;
    border-right-color: white;
    border-style: inset;
}
