body {
    background: url(../img/fondo.jpg);
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}



.cuadros {
    height: 25vh;
    width: 20vw;
    margin: 0 2em;


}

#A,
#B2,
#C,
#D {
    background: url(../img/textura2.jpg);
    

}
#B{
    display: flex;
    justify-content: center;
    align-items: center;
}

#B2 {
    width: 80%;
    height: 80%;
}

#C,
#D {
    background-repeat: no-repeat;
    background-size: cover;
}
#C{
    background-position: center;
    background-size: contain;
}

#D {
    box-sizing: border-box;
    border: 10px solid whitesmoke;
}




#F {
    background: url(../img/dh.jpg) no-repeat;

    box-sizing: border-box;
    border: 10px solid whitesmoke;
}

#E,
#G {
    background: url(../img/dh_2.jpg) no-repeat;
    background-color: aliceblue;
}


#H {
    background: url(../img/dh_3.jpg) no-repeat;

}


#E,
#F,
#G,
#H {
    background-position: center;
    background-size: contain;
    background-color: aliceblue;
    
    
}
#E{
    background-color: rgba(255, 255, 255, 0);
}


#I {
    background: linear-gradient(90deg, rgb(213, 252, 150), rgb(40, 49, 1))
}

#J {
    background: linear-gradient(180deg, rgb(255, 196, 196),rgb(151, 107, 107),rgb(102, 59, 59), rgb(46, 10, 10),rgb(255, 255, 255))
}

#K {
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(16, 134, 0))
}
#L {
    background: linear-gradient(180deg, rgb(255, 255, 255,0), rgb(10, 61, 3))
}
div{
    text-align: center;
}